<!DOCTYPE html>
<html data-ng-app="app" data-ng-controller="mainController">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smartpack, always with you.</title>
    <link rel="stylesheet" type="text/css" href="style/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style/modalDialog.css">
    <style type="text/css">
        .ng-modal-dialog {
            top:30%;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-animate.js"></script>
    <script src="js/eventemitter.js" type="text/javascript"></script>
    <!-- bootstap angular ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp%7Clibraries=places"></script>

    <!-- jquery scroll to plugin -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js"></script>
    <!-- jquery one page nav -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-one-page-nav/3.0.0/jquery.nav.min.js"></script>
    <!-- main custom css -->
    <link rel="stylesheet" type="text/css" href="style/main.css">
    <!-- sticky footer -->
    <link rel="stylesheet" type="text/css" href="style/sticky_footer.css">
    <!-- Category css -->
    <link rel="stylesheet" type="text/css" href="style/category.css">
    <!-- Fancybox -->
    <script type="text/javascript" src="js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script type="text/javascript" src="js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    <script type="text/javascript" src="js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <link rel="stylesheet" href="js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <link rel="stylesheet" href="js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
</head>

<body data-ng-controller="categoryListController">
    <header class="no-overflow">
        <!-- Beginning of NAV! -->
        <nav class="navbar navbar-default navbar-fixed-top no-overflow" data-role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand img-responsive" href="/index.html"><img style="height: 35px" alt="logo" src="img/logo.jpg" />
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="nav navbar-nav" id="top-nav" >
                        <li data-ng-repeat="category in categories | orderBy:predicate:reverse" data-my-repeat-directive><a data-ng-href="#section-{{category.id}}">Category {{category.id}}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li data-ng-show="!logged"><a href="" data-ng-click="toggleModal()">Login</a>
                        </li>
                        <li data-ng-show="logged">
                            <h5 class="navbar-text"> Welcome {{name}} </h5>
                        </li>
                        <li data-ng-show="logged"><a href="" class="navbar-link" data-ng-click="disconnect()">Disconnect</a>&nbsp;</li>
                    </ul>
                </div>
            </div>
        </nav>
        <div data-modal-dialog class="panel panel-default box-shadow" id="loginDialog" data-show='modalShown' data-width='80%' data-height='80%'>
            <div class="panel-heading">
                <h3 class="panel-title">
              Login
            </h3>
            </div>

            <div class="panel-body" data-ng-controller="FormCtrl">
                <form name="form" data-autocomplete="off" data-novalidate data-shake-that data-submitted="submitted" data-submit="submit()">
                    <div class="form-group" data-ng-class="{'has-error': form.email.$invalid && submitted}">
                        <label for="email" class="control-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" data-ng-model="email" data-ng-model-options="{updateOn: 'blur'}" required>
                    </div>
                    <div class="form-group" data-ng-class="{'has-error': form.password.$invalid && submitted}">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" data-ng-model="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                <div class="alert alert-success message" data-ng-show="showMessage">Well done!</div>
            </div>
        </div>
    </header>

    <a class = "fancybox" href="#popup" style="display:none"></a>

    <section id="popup" class="row-fluid container" data-ng-repeat="category in categories | filter:search" style="display:none">
         
        <div class="panel panel-default mycategory">
            <div class="panel-heading" id="headingpopup">
                <h4 class="panel-title" >
                        Category {{category.id}}
                </h4>
            </div>
            <div id="collapsepopup" >
                <div class="panel-body">  
                    <div class="row">
                        <select class = "form-control input-lg" style = "text-indent:47%" data-ng-model = "objectToAdd" data-ng-options = "object as object.name for object in objectsToChoose">
                        </select>
                        <button class = "btn btn-success btn-mrg" data-ng-click = "addObject(objectToAdd)">Add</button>
                        <button class = "btn btn-danger btn-mrg" data-ng-click = "deleteObject()">Delete</button>
                    </div>
                    <div class="row">
                        <div class="col-md-4" data-ng-repeat="object in category.objects" >
                            <div class="thumbnail" data-ng-click="handleObject(object.name+2)"  >
                                <img src="#" data-ng-src="{{object.imgsrc}}" alt="" > 
                                <div class="top-right-case">
                                    <img src="#" alt='cross' data-ng-src="http://icons.iconarchive.com/icons/hopstarter/rounded-square/256/Button-Delete-icon.png" data-ng-show="{{object.name}}2">
                                </div>
                            </div>
                            <div class="center">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quant" data-ng-click="substractQuantity(object.name)">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                    <input data-ng-model="object.quantity" type="number" name="quant" class="form-control input-number" min="1" max="100">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant" data-ng-click="addQuantity(object.name)">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="caption text center">
                                {{object.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class='btn btn-default btn-success' data-ng-click='validate()'>
            OK
        </div>
    </section>


    <section id="section-{{category.id}}" class="row-fluid container" data-ng-repeat="category in categories | orderBy:predicate:reverse">
         
        <div class="panel panel-default mycategory">
            <div class="panel-heading" id="heading{{category.id}}">
                <h4 class="panel-title" data-toggle="collapse" data-target="#collapse{{category.id}}" aria-expanded="false" aria-controls="collapse{{category.id}}">
    	    	   	    Category {{category.id}}
			    <img class="gears" src="http://www.e-recup.fr/design/icones/cgu.png" alt="" data-ng-click="startPopUp(category.id); $event.stopPropagation();" >
                </h4>
    	    </div>
    	    <div id="collapse{{category.id}}" class="panel-collapse collapse">
    	        <div class="panel-body">
    	            <div class="row">
    	                <div class="col-md-4" data-ng-repeat="object in category.objects" >
    	    	            <div class="thumbnail" data-ng-click="handleObject(object.name)"  >
    	    	   	        <img src="#" data-ng-src="{{object.imgsrc}}" alt="" >
    	    	   	        <div class="top-right-case">
    	    	   	            <img src="#" alt='cross' data-ng-src="http://www.clipartbest.com/cliparts/eTM/kRa/eTMkRaAAc.png" data-ng-show="{{object.name}}">
    	    	   	        </div>
                                <div class="bottom-right-case">
                                    x{{object.quantity}}
                                </div>
    	    	   	    </div>
    	    	   	    <div class="caption text center">
    	    	   	        {{object.name}}
    	    	   	    </div>
    	    	   	</div>
    	    	    </div>
    	    	</div>
    	    </div>
    	</div>	
    </section>
    <div class="text-center">
        <span class="btn btn-success" data-ng-click="addCategory()">
            <span class="glyphicon glyphicon-plus"></span>
    	</span>
    </div>
    <footer class="footer fixed-buttom">
        <div class="container">
            <p class="text-muted">&copy; Copyright 2015 Smartpackers.</p>
        </div>
    </footer>




    <!-- application features -->
    <!-- Angular main features -->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/popUpCategory.js"></script>
    <!-- enabling one page navigation -->
    <script type="text/javascript" src="js/onePageSiteNavigation.js"></script>

    <!-- - - - - - - - - Controllers - - - - - - - - - - - -->
    <!-- login controller -->
    <script type="text/javascript" src="js/loginController.js"></script>
    <!-- navigation controller -->
    <script type="text/javascript" src="js/navigationController.js"></script>
    <!-- categories controller -->
    <script type="text/javascript" src="js/categoryListController.js"></script>


    <!-- - - - - - - - - Angular Directives - - - - - - - - - -->
    <!-- shake that directive -->
    <script type="text/javascript" src="js/shakeThatDirective.js"></script>
    <!-- modal dialog directive -->
    <script type="text/javascript" src="js/modalDialogDirective.js"></script>
    <!-- myRepeat Directive -->
    <script type="text/javascript" src="js/myRepeatDirective.js"></script> 

</body>

</html>
